:root {
	--remove-button-color: rgb(116, 26, 26);
}
.vbox {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.hbox {
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.pointer-hover:hover {
	cursor: pointer;
}
.outer-div {
	gap: 1vh;
}
.bordered {
	padding: 0.5vh;
	border-style: solid;
	border-radius: 1vh;
	border-width: 2px;
	border-color: var(--color-accent);
}
.scroll {
	overflow: scroll;
	scrollbar-width: none;
}
.fill {
	flex-grow: 1;
}
.floating {
	position: absolute;
	transform: translate(0%, 0%);
}
.text-div {
	white-space: break-spaces;
}
button.remove-button {
	background-color: var(--remove-button-color);
}

.vnote-main {
	width: 100%;
	height: 100%;
}
.vnote-main button:hover {
	cursor: pointer;
}
.vnote-video-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: start;
	height: 50%;
	width: 100%;
}
#vnote-video {
	object-fit: contain;
	flex-grow: 1;
}

#vnote-controls {
	height: 10%;
	width: 100%;
}
#vnote-controls-top {
	width: 100%;
}
#vnote-controls-left {
	width: 50%;
	justify-content: start;
}
#vnote-controls-right {
	width: 50%;
	justify-content: end;
}
#vnote-controls-right input[type=text] {
	width: 5%;
}
#vnote-time-slider {
	width: 100%;
	height: 1vh;
	color: var(--color-accent);
}
